<p style="color: green"><%= notice %></p>

<%= render @product %>
<%= form_tag checkout_create_path, method: :post, data: { turbo: false } do %>
    <input type="hidden" name="total" value="<%= @product.price %>" />
    <%= submit_tag "Passer commande", class: "btn btn-primary" %>
<% end %>


<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
